{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue dans ce blog!!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laudantium dolorem sit illum facilis omnis repellat ut aliquam voluptatum. At ipsum neque totam minus, reprehenderit cumque qui ut dolores delectus.
Maxime aut modi dolor distinctio dolorum, tenetur quod libero possimus officiis doloremque, suscipit et corrupti neque incidunt, adipisci eius in vero tempore! Eum error earum ipsum magni tenetur, soluta placeat?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laudantium dolorem sit illum facilis omnis repellat ut aliquam voluptatum. At ipsum neque totam minus, reprehenderit cumque qui ut dolores delectus.
Maxime aut modi dolor distinctio dolorum, tenetur quod libero possimus officiis doloremque, suscipit et corrupti neque incidunt, adipisci eius in vero tempore! Eum error earum ipsum magni tenetur, soluta placeat?</p>

{% endblock %}